{% extends "PJMAppBundle:Profil:layout.html.twig" %}

{% block categorieName %}Modifier mon profil{% endblock %}

{% block pjm_app_body_content %}

<div class="well">
    {{ form (form) }}
</div>


{% endblock %}
