{% extends "PJMAppBundle:Actus:layout.html.twig" %}

{% block pjm_app_body_actus %}

    <h2>Liste des articles</h2>
    <p>
        <a href="{{ path('pjm_app_actus_ajouter') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Ajouter un article
        </a>
        <div class="btn-group" role="group" aria-label="push">
            <button type="button" class="js-push-button btn btn-default btn-md" disabled><span class="glyphicon glyphicon-bell"></span> S'abonner aux notifications</button>
            <a href="{{ path('pjm_app_push_reglages') }}" type="button" class="btn btn-default btn-md"><span class="glyphicon glyphicon-cog"></span></a>
        </div>
    </p>
    <div id="liste-articles">
        {% include "PJMAppBundle:Actus:articles.html.twig" with {'articles': brouillons} %}
        {% include "PJMAppBundle:Actus:articles.html.twig" %}
    </div>
    {% if articles|length > 0 %}
    <ul class="pagination">
        {% for p in range(1, nombrePages) %}
        <li{% if p == page %} class="active"{% endif %}>
            <a href="{{ path('pjm_app_actus_index', {'page': p}) }}">{{ p }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
