{% extends "PJMAppBundle::layout.html.twig" %}

{% block title %}
	Suppression d'un article | {{ parent() }}
{% endblock %}

{% block pjm_app_body %}

	<h2>Supprimer un article</h2>

	<p>
        Êtes-vous sûr de vouloir supprimer l'article <em>{{ article.titre }}</em> ?
    </p>

    <form method="post">
        <a href="{{ path('pjm_app_actus_voir', {'slug': article.slug}) }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Retour à l'article</a>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
        {{ form_rest(form) }}
    </form>

{% endblock %}
