{% extends "AMJEBordeauxUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    <div class="form-group">
        <input type="password" id="fos_user_resetting_form_plainPassword_first" name="fos_user_resetting_form[plainPassword][first]" class="form-control" placeholder="Nouveau mot de passe" required="required">
    </div>
    <div class="form-group">
        <input type="password" id="fos_user_resetting_form_plainPassword_second" name="fos_user_resetting_form[plainPassword][second]" class="form-control" placeholder="Vérification du nouveau mot de passe" required="required">
    </div>
    {{ form_widget(form._token) }}
    <div>
        <button class="btn" id="_submit" name="_submit" type="submit">Modifier le mot de passe</button>
    </div>
</form>

{% endblock fos_user_content %}
