body {
    &.accueil {
        background-color: white;

        .progress {
            width: 100%;
            min-height: 16em;
            margin-bottom: 0px;
        }

        .prix {
            position: absolute;
            bottom: 0.5em;
            width: 100%;
            z-index: 1;
        }

        .boquette {
            background-color: #eee;
        }
    }
}
