body {
    &.accueil {
        background-color: white;

        .progress {
            width: 100%;
            min-height: 16em;
            margin-bottom: 0px;
        }

        .prix {
            position: absolute;
            bottom: 0.5em;
            width: 100%;
            z-index: 1;
        }

        .boquette {
            background-color: #eee;
        }

        .en-tete-actus {
            .font-huitcentsix();
            margin-top:0;
            border-top: 2px solid;
            border-bottom: 2px solid;
            position:relative;

            > img {
                position:absolute;
                z-index:-1;
                top:-50%;
                right:10%;
                height:200%;
            }
        }
    }
}
