body {
    &.actus {
        background-color: white;

        .panel-heading {
            h3 {
                display: inline-block;
            }
        }

        .froala-view {
            > img, img {
                max-width: 100%;
            }
        }

        .physHMcontainer {
            display: inline-block;
            float: right;
            font-size: 1.2em;

            .counterHM, form {
                display: inline-block;
            }
        }
    }
}
