body {
    &.error {
        #content {
            margin-top: 3%;
            word-wrap: break-word;
            color: white;
            display: block !important;
        }

        &.error403 {
            background: #ed98ec url('images/erreurs/Militaire.png') no-repeat;
            background-position: bottom right;
            background-size: contain;
            background-attachment: fixed;

            #content {
                a {
                    color: #5a2559;
                }
            }
        }

        &.error404 {
            background: #57c0f6 url('images/erreurs/Chat.png') no-repeat;
            background-position: bottom right;
            background-size: contain;
            background-attachment: fixed;

            #content {
                a {
                    color: #0a1357;
                }
            }
        }
    }
}
