body {
    &.error403 {
        background-color: #ed98ec;

        #content {
            color: white;

            a {
                color: #5a2559;
            }
        }
    }

    &.error404 {
        background-color: #57c0f6;

        #content {
            color: white;

            a {
                color: #0a1357;
            }
        }
    }
}
