body {
    #navMessage {
        .nouveau {
            color: @rouge;
            animation: ease-in-out alternate redtonormal 1s infinite;
        }
    }

    @keyframes redtonormal {
        0% {
            color: @rouge;
        }
        100% {
            color: @navbar-default-link-color;
        }
    }

    &.inbox {
        .message {
            transition: box-shadow 0.4s ease-in-out 0s;

            a {
                color: @rouge !important;
            }

            &.surbrillance {
                box-shadow: 1px 1px 0.5em @rouge;

                &.processing {
                    box-shadow: 1px 1px 0.5em fadeout(@rouge, 50%);
                }
            }
        }

        #received, #sent {
            .panel-body {
                max-height: 15em;
                overflow-y: auto;

                .remove, .cancel {
                    float: right;
                }
            }
        }

        .panel-title {
            h2 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}
