# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

*~
/web/bundles/
/web/uploads/
/web/css/
/web/js/
/web/images/
/web/fonts/
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/Resources/public/lib/
/app/Resources/java/
/app/config/parameters.yml
/app/config/parameters_dev.yml
/vendor/
/bin/
/doc/S-Money
desktop.ini
/npm-debug.log
/composer.phar
/node_modules
/web/maps/

