<form method="post" role="form">

    <div class="form-group">
        {{ form_widget(form.montant, {'attr': {'placeholder': 'Montant'}}) }}
        {{ form_errors(form.montant) }}
    </div>

    {{ form_rest(form) }}

    <button class="btn" id="_submit" name="_submit" type="submit">Go !</button>

</form>
