@import "components/media-query.less";
@import "components/vertical-timeline.less";
@import "components/FOSCommentBundle.less";

// fix hack modal qui fait un padding pour rien
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    padding-right: 17px;
}
body.modal-open {
    padding-right: 0 !important;
}

.dataTables_scroll {
        background-color: white !important;
        color: black !important;
}

.dataTable {
    img, > img {
        max-height: 4em;
    }
}

.webui-popover {
    color: black;
}

a.show_users {
    cursor: pointer;
    color: white;
    border-bottom: 1px dotted white;
}

.f-video-editor {
    position: relative;
    @taille: 70%;

    .iframe-ratio {
        display: block;
        width: @taille;
        height: auto;
        margin: 0px auto;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: @taille;
        height: 100%;
        right: 0;
        margin: 0 auto;
    }
}
