@import "lib.less";
@import "variables.less";
@import "site/icons.less";

body {
    background-color: @rouge;
    color: white;
    text-align: center;
}

#welcome {
    display: block;
    color: white;

    &:hover {
        color: white;
    }

    .customizePerSize(@taille) {
        padding: @taille/4;

        h1 {
            font-size: @taille/3;
        }

        .phys-brand-text-white {
            height: 2*@taille/3;
            width: (2*@taille/3)*4 - 2/3em; // 4*height - un petit bout pour bien le placer à côté du texte Bienvenue
        }
    }

    background-color: @rouge;
    @taille: 5em;

    .customizePerSize(@taille);

    .phys-brand-logo-white {
        height: 2*@taille/3;
        width: 2*@taille/3;
        margin-right: @taille/20;
    }

    .phys-brand-text-white {
        max-width: 100%;
    }

    h1 {
        padding: 0;
        margin: 0;
    }

    @media @tablet {
        @taille: 10em;
        .customizePerSize(@taille);
        text-align: left;

        .phys-brand-logo-white {
            margin-right: @taille/2;
            float: left;

            height: @taille;
            width: @taille;
        }
    }
}

#ciel {
    background-color: @bleu-tres-clair;

    .iceberg {
        background: url('images/login/iceberg-haut.png') no-repeat center bottom;
    }
}

#pingouin {
    @taille: 10vh;
    padding-top: @taille/2;
    padding-bottom: @taille/2;

    img {
        max-height: @taille;

        &.ferme {
            display: none;
        }
    }
}

#eau {
    background-color: @bleu;
    color: @gris;

    .iceberg {
        min-height: 80vh;
        background: url('images/login/iceberg-bas.png') no-repeat center top;
        padding-top: 1em;
    }

    form {
        margin-bottom: 1em;

        input {
            &[type="text"], &[type="password"] {
                display: block;
                margin: 0.5em auto;

                background-color: transparent;
                border: 0;
                border-bottom: 1px solid @rouge;

                text-align: center;
            }

            &:focus {
                border-radius: 1em;
                background-color: @rouge;
                color: white;
            }
        }
    }
}

#about {
    background-color: white;
    min-height: 50vh; // temp
}

.glyphicon-refresh-animate {
    .animation-name(spin);
    .animation-duration(4000ms);
    .animation-iteration-count(infinite);
    .animation-timing-function(linear);

    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
}

.icon-chargement {
    .glyphicon();
    .glyphicon-refresh();
    .glyphicon-refresh-animate();
}


