@import "custom-bootstrap.less";
@import "fonts.less";
@import "text.less";
@import "layout/layout.less";
@import "sections/accueil.less";
@import "sections/erreurs.less";
@import "sections/a-propos.less";

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;

    background-color: white;
}

#content {
    margin-bottom: 3em;
}

.panel {
    box-shadow:unset;
}

.space {
    display: block;
    height: 1em;
}

.debuttonize {
    background-color: transparent;
    color: white;
    border: 0;

    &:hover {
        //color: darken(currentColor, 10%);
        text-decoration: underline;
    }
}

.glyphicon-refresh-animate {
    .animation-name(spin);
    .animation-duration(4000ms);
    .animation-iteration-count(infinite);
    .animation-timing-function(linear);

    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
}
