.text-rouge {
    color: @rouge !important;
}

.text-orange {
    color: @orange !important;
}

.text-mauve {
    color: @mauve !important;
}

.text-blanc {
    color: white !important;
}

.text-noir {
    color: black !important;
}

.text-gris {
    color: @gris !important;
}

.text-medium {
    font-size: medium;
}

.text-large {
    font-size: large;
}

.text-x-large {
    font-size: x-large;
}

.text-xx-large {
    font-size: xx-large;
}

.text-larger {
    font-size: larger;
}

h1, h2 {
    text-transform: uppercase !important;
}
