{% extends "PJMAppBundle:Consos/Cvis:layout.html.twig" %}

{% block categorieName %}Gestion {{ parent() }}{% endblock %}

{% block pjm_app_body_content %}
<p>
    <small><a href="{{ path('pjm_app_boquette_cvis_index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a></small>
</p>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingManuel" data-toggle="collapse" data-target="#collapseManuel" aria-expanded="true" aria-controls="collapseManuel">
        <h2 class="panel-title">
                Manuel
        </h2>
    </div>
    <div id="collapseManuel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingManuel">
        <div class="panel-body">
            <p>
                Sur le panneau <strong>"Mises en avant"</strong>, tu peux spécifier quel est le produit du moment.
            </p>
            <p>
                Tu peux consulter la liste complète des produits affichés sur le panneau <strong>"Items"</strong>. Tu peux aussi modifier l'image de chaque produit.
            </p>
            <p>
                Enfin, quand tu voudras passasser ton prochain, rends toi sur le panneau <strong>"Responsables"</strong>.
            </p>
            <p>
                Cette page est accessible par les ZiCvis, ZiAsso, Harpag's Asso, et ZiPhy'sbook.
            </p>
        </div>
    </div>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% render(url('pjm_app_admin_boquette_gestionFeaturedItem', {slug: boquetteSlug})) %}
    {% render(url('pjm_app_admin_boquette_gestionItem', {slug: boquetteSlug})) %}
    {% render(url('pjm_app_admin_boquette_voirAchats', {slug: boquetteSlug})) %}
    {% render(url('pjm_app_admin_boquette_gestionResponsables', {slug: boquetteSlug})) %}
</div>
{% endblock %}
