@import "variables.less";
@import "nav.less";
@import "footer.less";

body {
    padding-top: @navbar-height + @navbar-margin-bottom;

    #modals {
        color: black;
    }
}

#content {
    display:none;
    margin-bottom: 15em;

    #bandeauTitre {
        background-color: @gris-tres-clair;
        color: #505050;
        margin-bottom: 0.3em;
        padding-bottom: @line-height-computed/2;

        @height: 3*@font-size-h1;

        h1 {
            .font-klavika();
            font-size: 3em;

            @media @tablet {
                font-size: 5em;
            }

            text-align: right;
        }

        #logoPage {
            float: left;
            height: @height;
        }
    }
}
