#menu {
    #sous-menu {
        ul {
            display: none;
        }
    }

    @media (min-width: @screen-sm-min) {
        #chargement {
            position: absolute;
            left: 0;
        }
    }

    @media (max-width: @screen-xs-max) {
        #chargement {
            position: absolute;
            left: 50%;
        }
    }

    .navbar-brand {
        background: url('images/header/Physbook-G-200.png') no-repeat;
        background-position: center;
        background-size: 40px;
        padding-left:68px;
    }

    .navbar-default {
        border: 0;
        background-color: rgba(233, 233, 233, 0.9);
        color: @gris;
    }

    #liste-menu {
        #nav-slider {
            position:absolute;

            left: 0;
            bottom: 0;
            height: 2px;
            width: 0;
            padding: 2px 15px;

            background-color: @gris;

            z-index:0;
        }

        img.active {
            display: none;
        }

        #nav-slider-active {
            position: absolute;

            left: 0;
            bottom: 0;
            width: 100%;
            padding: 2px 50%;

            background-color: @gris;

            z-index:0;
        }

        .navbar-nav {
            text-transform: uppercase;
        }
    }
}
