#menu {
    .sous-menu {
        .list-inline();
        text-align: center;

        &#menu-vie {
            background-color: rgba(182, 57, 56, 0.9);
        }

        &#menu-assos {
            background-color: rgba(254, 191, 0, 0.9);
        }

        &#menu-consos {
            background-color: rgba(235, 102, 29, 0.9);
        }

        a {
            color: white;
            display: inline-block;
            min-width: 3em;

            @media @tablet {
                min-width: 4em;
            }
        }

        img {
            height: 4em;
        }

        > li {
            margin: 1em 0.5em 1em 0.5em;

            @media @tablet {
                margin-left: 5em;
            }
        }

        display: none;
        position: fixed;
        top: @navbar-height;
        left: 0;
        width: 100%;
        z-index: 1;
        margin-left: 0px;
        transition: all 2s ease-in-out;

        &.pullDown {
            display: block;
        }
    }

    @media (min-width: @grid-float-breakpoint) {
        #chargement {
            position: absolute;
            left: 0;
        }

        .hidden-collapsed {
            display: block;
        }

        .visible-collapsed, .visible-collapsed-inline {
            display: none;
        }
    }

    @media (max-width: (@grid-float-breakpoint - 1)) {
        #chargement {
            position: absolute;
            left: 50%;
        }

        .hidden-collapsed {
            display: none;
        }

        .visible-collapsed {
            display: block;
        }

        .visible-collapsed-inline {
            display: inline;
        }
    }

    .navbar-brand {
        background: url('images/header/Physbook-G-200.png') no-repeat;
        background-position: center;
        background-size: 40px;
        padding-left:68px;

        &.active {
            background: url('images/header/Physbook-R-200.png') no-repeat;
            background-position: center;
            background-size: 40px;
        }
    }

    .navbar-default {
        border: 0;
        background-color: rgba(233, 233, 233, 0.9);
        color: @gris;
    }

    #liste-menu {
        #nav-slider {
            position:absolute;

            left: 0;
            bottom: 0;
            height: 2px;
            width: 0;
            padding: 2px 15px;

            background-color: @gris;

            z-index:0;

            opacity: 0;
        }

        #nav-slider-active {
            position: absolute;

            left: 0;
            bottom: 0;
            width: 100%;
            padding: 2px 50%;

            background-color: @gris;

            z-index:0;
        }

        img.active {
            display: none;
        }

        .navbar-nav {
            text-transform: uppercase;
        }
    }
}
