<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Site privé pour les élèves d'Arts et Métiers ParisTech">
        <meta name="keywords" content="phy'sbook, intranet, ensam, arts, métiers, paristech, site, privé, élèves, physbook, phy'ssbook, physsbook">
        <!-- créé par Louis Lagrange, Etienne Blanc, Louis Brillot, Alice Calès et Stéphie Noailles -->
        <title>{% block title %}Phy'sbook{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets
            '%kernel.root_dir%/../app/Resources/public/less/design.less'
            '%kernel.root_dir%/../app/Resources/public/css/dataTables.bootstrap.css'
            '%kernel.root_dir%/../app/Resources/public/css/animations.css'
            '%kernel.root_dir%/../app/Resources/public/css/font-physbook.css'
            '%kernel.root_dir%/../app/Resources/public/lib/select2/select2.css'
            '%kernel.root_dir%/../app/Resources/public/lib/select2-bootstrap-css/select2-bootstrap.css'
            '%kernel.root_dir%/../app/Resources/public/lib/webui-popover/dist/jquery.webui-popover.min.css'
            filter='less,cssrewrite,?yui_css'
            output='css/design.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}

        <!-- WebApp Manifest -->
        <link rel="manifest" href="{{ asset('manifest.json') }}">

        <meta name="application-name" content="Phy'sbook">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#b63938">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="Phy'sbook">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <meta name="msapplication-navbutton-color" content="#b63938">
        <meta name="msapplication-TileColor" content="#b63938">
        <meta name="msapplication-tooltip" content="Démarrer Phy'sbook">
        <meta name="msapplication-starturl" content="./">

        <meta property="og:title" content="Phy'sbook" />
        <meta property="og:site_name" content="Phy'sbook" />
        <meta property="og:rich_attachment" content="true" />
        <meta property="og:url" content="https://physbook.fr/login" />
        <meta property="og:description" content="Site privé pour les élèves d'Arts et Métiers ParisTech" />
        <meta property="og:image" content="http://physbook.fr/images/general/logo+banniere.png" />
        <meta property="og:image:secure_url" content="https://physbook.fr/images/general/logo+banniere.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="2200" />
        <meta property="og:image:height" content="1151" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="fr_FR" />

        {% include '::favicon.html.twig' %}
        {% include '::startup.html.twig' %}

        {% block base_javascripts %}
        <script type="text/javascript">
            var assetsDir = "{{ asset('') }}";
            var PJMAppBundlePath = "bundles/pjmapp/";
        </script>
        {% endblock %}
    </head>
    <body{% if block('pageName') != "" %} class="{{ block('pageName') }}"{% endif %}>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <!-- Piwik -->
            <noscript><p><img src="//physbook.fr/web/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </body>
</html>
