<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Site privé pour les élèves d'Arts et Métiers ParisTech">
        <meta name="keywords" content="phy'sbook, intranet, ensam, arts, métiers, paristech, site, privé, élèves, physbook, phy'ssbook, physsbook">
        <meta name="author" content="Louis Lagrange">
        <title>{% block title %}Phy'sbook{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets
            '%kernel.root_dir%/../app/Resources/public/less/general.less'
            '%kernel.root_dir%/../app/Resources/public/css/dataTables.bootstrap.css'
            '%kernel.root_dir%/../app/Resources/public/lib/select2/select2.css'
            '%kernel.root_dir%/../app/Resources/public/lib/select2-bootstrap-css/select2-bootstrap.css'
            '%kernel.root_dir%/../app/Resources/public/lib/webui-popover/dist/jquery.webui-popover.min.css'
            filter='less,cssrewrite,?yui_css'
            output='css/design.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}

        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="application-name" content="Phy'sbook">
        <meta name="theme-color" content="#b63938">

        {% include '::favicon.html.twig' %}
        {% include '::startup.html.twig' %}
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="Phy'sbook">
        <meta name="msapplication-TileColor" content="#2b5797">

        {% block base_javascripts %}
        <script type="text/javascript">
            var assetsDir = "{{ asset('') }}";
            var PJMAppBundlePath = "bundles/pjmapp/";
        </script>
        {% endblock %}
    </head>
    <body{% if block('pageName') != "" %} class="{{ block('pageName') }}"{% endif %}>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <!-- Piwik -->
            <noscript><p><img src="//physbook.fr/web/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </body>
</html>
