<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Site privé pour les élèves d'Arts et Métiers ParisTech">
        <meta name="author" content="Louis Lagrange">
        <title>{% block title %}PJM{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets
            '%kernel.root_dir%/../app/Resources/public/less/custom-bootstrap.less'
            filter='less,cssrewrite'
            output='css/design.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                '%kernel.root_dir%/../app/Resources/public/js/jquery.min.js'
                '%kernel.root_dir%/../app/Resources/public/js/moment*.js'
                '%kernel.root_dir%/../app/Resources/public/js/bootstrap.min.js'
                '%kernel.root_dir%/../app/Resources/public/js/bootstrap-*.js'
                '%kernel.root_dir%/../app/Resources/public/js/chosen.jquery.min.js'
                filter=''
                output='js/extra.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
