<div class="footer">
    <div class="container-fluid">
        <ul class="list-inline text-center text-uppercase">
            <li><a href="{{ path('pjm_app_a_propos') }}">&Agrave; propos</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Support technique</a></li>
            <li><a href="#">Plan du site</a></li>
        </ul>
    </div>
</div>
