<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a href="{{ path('pjm_app_a_propos') }}">&Agrave; propos</a>
            </div>
            <div class="col-sm-3">
                <a href="{{ path('pjm_app_contact') }}">Contact</a>
            </div>
            <div class="col-sm-3">
                <a href="{{ path('pjm_app_support_technique') }}">Support technique</a>
            </div>
            <div class="col-sm-3">
                <a href="{{ path('pjm_app_plan_du_site') }}">Plan du site</a>
            </div>
        </div>
    </div>
</div>
