<div class="footer">
    <div class="container-fluid">
        <ul class="list-inline text-center text-uppercase">
            <li><a href="{{ path('pjm_app_a_propos') }}">&Agrave; propos</a></li>
            <li><a href="{{ path('pjm_app_contact') }}">Contact</a></li>
            <li><a href="{{ path('pjm_app_support_technique') }}">Support technique</a></li>
            <li><a href="{{ path('pjm_app_plan_du_site') }}">Plan du site</a></li>
        </ul>
    </div>
</div>
