{% extends "::base.html.twig" %}

{% set error_page = true %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    '%kernel.root_dir%/../app/Resources/public/js/nav.js'
    '%kernel.root_dir%/../app/Resources/public/js/chargement.js'
    filter='?yui_js'
    output='js/menu.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}

{# menu #}
{% include("::nav.html.twig") %}

{# contenu #}
<div class="container-fluid">
    <div class="row">
        <div id="content" class="col-md-8 col-md-offset-2">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{# footer #}
{% include("::footer.html.twig") %}

{% endblock %}
