{% extends "::base.html.twig" %}

{% set error_page = false %}

{% block body %}
{# modals #}
<div id="modals">
{% block modals %}{% endblock %}
</div>

{# menu #}
{% include("::nav.html.twig") %}

{# contenu #}
<div id="content">
    {% block content %}{% endblock %}
</div>

{# footer #}
{% include("::footer.html.twig") %}

{% endblock %}
