{% extends "::base.html.twig" %}

{% set error_page = true %}

{% block body %}

{# contenu #}
<div class="container-fluid">
    <div class="row">
        <div id="content" class="col-md-10 col-md-offset-1">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}
