{% extends "::base.html.twig" %}

{% set error_page = false %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    '%kernel.root_dir%/../app/Resources/public/js/nav.js'
    '%kernel.root_dir%/../app/Resources/public/js/chargement.js'
    filter='?yui_js'
    output='js/menu.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}

{# modals #}
<div id="modals">
{% block modals %}{% endblock %}
</div>

{# menu #}
{% include("::nav.html.twig") %}

{# contenu #}
<div id="content">
    {% block content %}{% endblock %}
</div>

{# footer #}
{% include("::footer.html.twig") %}

{% endblock %}
