{% extends "::base.html.twig" %}

{% block body %}
<div class="container-fluid">
    {# menu #}
    {% include("::nav.html.twig") %}

    {# contenu #}
    {% block content %}{% endblock %}
</div>
{% endblock %}
