<section id="menu">
    <nav class="navbar navbar-default" role="navigation" id="menu-principal">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#liste-menu">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>

            <div class="collapse navbar-collapse" id="liste-menu">
                <ul class="nav navbar-nav enable-slider">
                    <li class="active"><a href="#">Consos</a></li>
                    <li><a href="#">Vie à l'ec'ss</a></li>
                    <li><a href="#">Les assos</a></li>
                    <li><a href="#">Thuyss</a></li>
                    <li><a href="#">Tutos</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" title="Rechercher"><span class="glyphicon glyphicon-search"></span><span class="visible-xs-inline"> Rechercher</span></a></li>
                    <li><a href="#" title="Mon profil"><span class="glyphicon glyphicon-user"></span><span class="visible-xs-inline"> Mon profil</span></a></li>
                    <li><a href="#" title="Notifications"><span class="glyphicon glyphicon-bell"></span><span class="visible-xs-inline"> Notifications</span></a></li>
                    <li><a href="#" title="Déconnexion"><span class="glyphicon glyphicon-off"></span><span class="visible-xs-inline"> Déconnexion</span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <section id="sous-menu">
        <ul id="menu-consos">
            <li><a href="">Pian's</a></li>
            <li><a href="">C'Vis</a></li>
            <li><a href="">Brag's</a></li>
            <li><a href="">Paniers</a></li>
        </ul>
        <ul id="menu-vie-ecole">
            <li><a href="">Fin's</a></li>
            <li><a href="">Élections</a></li>
            <li><a href="">Infos</a></li>
            <li><a href="">Médias</a></li>
        </ul>
        <ul id="menu-assos">
            <li><a href="">Asso</a></li>
            <li><a href="">AMJE Bordeaux</a></li>
            <li><a href="">UAI</a></li>
        </ul>
    </section>
</section>
