{% extends "PJMAppBundle:Consos/Paniers:layout.html.twig" %}

{% block categorieName %}Historique {{ parent() }}{% endblock %}

{% block pjm_app_body_content %}
    <p>
        <small><a href="{{ path('pjm_app_consos_paniers_index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a></small>
    </p>
    {{ datatable_render(datatable) }}
</div>
{% endblock %}
