{% extends "PJMAppBundle:App:panel.html.twig" %}

{% set panel_title = "Comptes" %}
{% set name = "Comptes" %}

{% block datatable_title %}État des comptes{% endblock %}

{% block description %}
<p>
    {% if boquette.slug == 'pians' %}Les soldes sont synchronisés avec le serveur du R&amp;z@l toutes les heures.{% endif %}
</p>
{% endblock %}

{% block autre %}
    {{ render(url('pjm_app_admin_boquette_exportComptes', {'slug': boquette.slug})) }}
{% endblock %}

