{% extends "PJMAppBundle:App:panel.html.twig" %}

{% set panel_title = "Crédits et débits" %}
{% set name = "Credits" %}

{% block datatable_title %}Historique{% endblock %}

{% block description %}
<p>
    Les transactions sont effectuées instantanément.<br>
    <br>
    En cas de <strong>crédit</strong>, renseigne "Chèque" ou "Monnaie" selon le moyen de paiement. Si ce n'est ni un chèque ni de la monnaie, ou si c'est pour corriger une <strong>erreur</strong>, renseigne "Opération de crédit".<br>
    Si une ou des personnes donnent leur argent pour que cet argent aille sur le compte de quelqu'un d'autre,
    renseigne "Transfert vers", sinon laisse vide. La liste des crédits ne fait pas apparaitre les transferts (ils apparaissent chez les utilisateurs concernés) car ils ne concernent pas la comptabilité de la boquette.<br>
    <br>
    En cas de <strong>débit</strong>, renseigne "Opération de débit" dans le champ "Moyen de paiement" et indique un montant négatif, ainsi qu'une raison. La raison doit être assez explicite pour que tous les utilisateurs comprennent.<br>
</p>
{% endblock %}

{% block autre %}
    {{ render(url('pjm_app_admin_boquette_exportCredits', {'slug': boquetteSlug})) }}
{% endblock %}
