{% extends "PJMAppBundle:App:panel.html.twig" %}

{% set panel_title = "Crédits" %}
{% set name = "Credits" %}

{% block datatable_title %}Historique{% endblock %}

{% block description %}
<p>
    Les crédits sont effectués instantanément.
</p>
{% endblock %}

{% block autre %}
    {% render(url('pjm_app_admin_boquette_exportCredits', {'slug': boquetteSlug})) %}
{% endblock %}
