{% extends "PJMAppBundle:App:panel.html.twig" %}

{% set panel_title = "Crédits" %}
{% set name = "Credits" %}

{% block datatable_title %}Historique{% endblock %}

{% block description %}
<p>
    Les crédits sont effectués instantanément.
    <br>Si quelqu'un donne te donne son argent pour créditer quelqu'un d'autre, renseigne bien "De la part de", sinon laisse vide. La liste des crédits ne fait pas apparaitre les transferts (ils apparaissent chez les utilisateurs concernés)  car ils ne concernent pas la comptabilité de la boquette.
</p>
{% endblock %}

{% block autre %}
    {% render(url('pjm_app_admin_boquette_exportCredits', {'slug': boquetteSlug})) %}
{% endblock %}
