parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: physbook
    database_user: root
    database_password: null

    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    mailer_encryption: ~
    mailer_port: 25

    locale:            fr
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
    
    java_path: "C:/Program Files (x86)/Java/jre7/bin/java.exe"
    
    router.request_context.host: physbook.fr
    router.request_context.base_url: ""
    assets_base_url: "%router.request_context.host%%router.request_context.base_url%"
    
    paiement.smoney.url: https://mon-espace-pp.s-money.fr/ecommerce/payments/smoney
    paiement.smoney.auth: Bearer MTsxMztUR3F4ZUZwdDFs
