parameters:
    database_driver: pdo_mysql
    database_host: localhost       #use 127.0.0.1 on local web server for more speed
    database_port: null
    database_name: physbook
    database_user: root
    database_password: null
    
    db_rezal_host: localhost
    db_rezal_user: user
    db_rezal_pass: password

    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    mailer_encryption: ~
    mailer_port: 25

    locale:            fr
    secret:            SecretAEncoreChangerPourLaProd

    debug_toolbar:          true
    debug_redirects:        false
    
    paiement.smoney.url: urlSmoneyAChanger
    paiement.smoney.auth: Bearer clef
    
    android_gcm_api_key: clefAChanger
    
    canal: https
