{% extends "PJMAppBundle::layout.html.twig" %}

{% set section = "consos" %}
{% block pageName %}{{ parent() }}{% endblock %}

{% block title %}
	Historique | {{ parent() }}
{% endblock %}

{% block pjm_app_body_title %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Historique</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block pjm_app_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ datatable_render(datatable) }}
        </div>
    </div>
</div>
{% endblock %}
