<div class="modal fade" id="modalHistorique" tabindex="-1" role="dialog" aria-labelledby="historique" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="historique">Historique</h4>
            </div>
            <div class="modal-body">
                {{ datatable_render(datatable) }}
            </div>
        </div>
    </div>
</div>
