{% extends "PJMAppBundle::layout.html.twig" %}

{% block pageName %}pians{% endblock %}

{% block title %}
	Pian's | {{ parent() }}
{% endblock %}

{% block pjm_app_body %}

{% if erreur is not null %}
    <div class="alert alert-{{ erreur.niveau }}">Erreur {{ erreur.code }} : {{ erreur.contenu }}</div>
{% endif %}

Ici c'est Pi.


{% endblock %}
