<div class="modal fade" id="modalRechargement" tabindex="-1" role="dialog" aria-labelledby="rechargement" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="rechargement">Rechargement</h4>
            </div>
            <div class="modal-body">
                <p>S-Money va bientôt mettre à jour son interface. D'ici là, ton compte S-Money doit avoir au moins un solde aussi grand que le montant que tu souhaites recharger ici. Pour ce faire, rends-toi sur <a href="https://mon-espace.s-money.fr">S-Money.fr</a> ou sur l'application mobile.</p>
                {{ render(url('pjm_app_boquette_rechargement', {'slug': boquetteSlug})) }}
            </div>
        </div>
    </div>
</div>
