<div class="modal fade" id="modalRechargement" tabindex="-1" role="dialog" aria-labelledby="rechargement" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="rechargement">Rechargement</h4>
            </div>
            <div class="modal-body">
                <p>
                    Les paiements sont gérés par <a href="https://lydia-app.com">Lydia</a>, télécharge leur application pour plus de simplicité.
                    Tu n'auras plus à taper ton numéro de CB. Il faut que ton adresse mail sur Phy'sbook et Lydia soient les mêmes, n'hésite pas à les changer si ce n'est pas le cas.<br>
                    Tu fais partie de ces personnes peu à l'aise avec les paiements en ligne ? <a href="https://lydia-app.com/about/security">Sois rassuré.</a>
                </p>
                {{ render(url('pjm_app_boquette_rechargement', {'slug': boquette.slug})) }}
            </div>
        </div>
    </div>
</div>
