{% if responsables|length %}
<ul class="list-unstyled">
    {% for responsable in responsables %}
    <li>{{ responsable.responsabilite }} : {{ responsable.user }}</li>
    {% endfor %}
</ul>
{% else %}
<p>Aucun responsable actif trouvé, désolé.</p>
{% endif %}
