{% extends "PJMAppBundle:App:panel.html.twig" %}

{% set panel_title = "Gestion vacances/jours fériés" %}
{% set name = "Vacances" %}

{% block description %}
<p>
    Ce module sert à définir les vacances et jours fériés de façon à ce que les utilisateurs ne soient pas débités quand il n'y a pas de pain.
</p>
{% endblock %}
