{% extends "PJMAppBundle:Consos/Paniers:layout.html.twig" %}

{% block categorieName %}Gestion {{ parent() }}{% endblock %}

{% block pjm_app_body_content %}
<p>
    <small><a href="{{ path('pjm_app_boquette_paniers_index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a></small>
</p>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingManuel" data-toggle="collapse" data-target="#collapseManuel" aria-expanded="true" aria-controls="collapseManuel">
        <h2 class="panel-title">
                Manuel
        </h2>
    </div>
    <div id="collapseManuel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingManuel">
        <div class="panel-body">
            <p>
                Dans le panneau <strong>"Paniers"</strong>, tu peux voir l'historique des paniers et en ajouter un nouveau. Pour chaque panier, tu peux soit voir l'état des commandes, soit arrêter de prendre des commandes pour ce panier et télécharger un fichier qui te donnera le nombre total de commandes et les personnes qui l'ont commandé.
            </p>
            {% if is_granted('ROLE_HARPAGS') %}<p>
                Si un PG te donne un chèque ou de la monnaie pour les paniers de fruits et légumes, tu peux l'indiquer sur le panneau <strong>"Crédits"</strong>. S'il s'agit d'un chèque, renseigne son numéro (7 chiffres). Tu peux aussi y consulter la liste des crédits S-Money.
            </p>{% endif %}
            <p>
                Enfin, quand tu voudras passasser ton prochain, rends toi sur le panneau <strong>"Responsables"</strong>.
            </p>
            <p>
                Cette page est accessible par les ZiPaniers, ZiAsso, Harpag's Asso, et ZiPhy'sbook.
            </p>
        </div>
    </div>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% render(url('pjm_app_admin_boquette_paniers_listePaniers')) %}
    {% if is_granted('ROLE_HARPAGS') %}{% render(url('pjm_app_admin_boquette_gestionCredits', {slug: boquetteSlug})) %}{% endif %}
    {% render(url('pjm_app_admin_boquette_gestionResponsables', {slug: boquetteSlug})) %}
</div>
{% endblock %}
