{% extends "PJMAppBundle:App:panel.html.twig" %}

{% set panel_title = "Paniers" %}
{% set name = "Paniers" %}
{% set expanded = true %}

{% block datatable_title %}Historique{% endblock %}

{% block description %}
<p>
    Le nouveau panier remplacera l'ancien sur la page Paniers.
</p>
{% endblock %}
