{% extends "PJMAppBundle:App:panel.html.twig" %}

{% set panel_title = "Responsables" %}
{% set name = "Responsables" %}

{% block form_title %}Ajout{% endblock %}
{% block datatable_title %}Liste{% endblock %}

{% block description %}
<p>Ajoute un responsable. Seuls certains utilisateurs (niveaux 0 et 1) peuvent désactiver ou activer un responsable.</p>
{% endblock %}
