{% extends "PJMAppBundle:App:panel.html.twig" %}

{% set panel_title = "Responsables" %}
{% set name = "Responsables" %}
{% set accordion = "#accordion" %}
{% set expanded = false %}

{% block form_title %}Ajout{% endblock %}
{% block datatable_title %}Liste{% endblock %}

{% block description %}
<p>Ajoute un responsable. Seuls certains utilisateurs peuvent désactiver ou activer un responsable.</p>
{% endblock %}
