{% extends "PJMAppBundle::Admin/layout.html.twig" %}

{% block pjm_app_body_content %}
<h2>Utilisateurs</h2>
<ul>
    <li><a href="{{ path('pjm_app_admin_users_liste') }}">Voir la liste des utilisateurs</a></li>
    <li><a href="{{ path('pjm_app_admin_users_inscriptionUnique') }}">Inscrire une personne</a></li>
    <li><a href="{{ path('pjm_app_admin_users_inscriptionListe') }}">Inscrire une liste de personnes</a></li>
</ul>

<h2>Responsabilités</h2>
<ul>
    <li><a href="{{ path('pjm_app_admin_responsabilites') }}">Gérer les responsabilités</a></li>
</ul>
{% endblock %}
