{% extends "PJMAppBundle::layout.html.twig" %}

{% block title %}
	Administration | {{ parent() }}
{% endblock %}

{% block pjm_app_body %}

<div class="well">

<ul>
    <li><a href="{{ path('pjm_app_admin_users_liste') }}">Voir la liste des utilisateurs</a></li>
    <li><a href="{{ path('pjm_app_admin_users_inscriptionUnique') }}">Inscrire une personne</a></li>
    <li><a href="{{ path('pjm_app_admin_users_inscriptionListe') }}">Inscrire une liste de personnes</a></li>
</ul>

</div>

{% endblock %}
