{% extends "PJMAppBundle:Admin:layout_gestion.html.twig" %}

{% block titrePageAdmin %}Responsabilités{% endblock %}
{% block explication %}
<p>
    Le <strong>rôle</strong> est facultatif : il ne sert que pour les boquettes qui ont une interface d'administration.
</p>
<p>
    Le <strong>niveau</strong> est la donnée hiérarchique. 0 est le plus haut niveau hiérarchique.
</p>
{% endblock %}
