body {
    &.event {
        background-color: @bleu;
        color: white;

        img.affiche {
            .img-responsive();
            .center-block();
            max-height: 20em;
            margin-bottom: 1.2em;
        }

        form[name="form_suppression"] {
            display: inline-block;
        }
    }
}
