body {
  &.notifications {
    .notification {
      &.important {

      }

      .message {
        span.info {
          font-weight: bold;
        }
      }

      .date {
        font-size: 0.8em;
      }
    }
  }
}


.navbar-toggle {
  .badge-notification {
    top:0;
    left: 2.5em;
  }
}

.badge-notification {
  position: absolute;
  top: 0.5em;
  left: 2.2em;
  font-size: 0.7em;
  border-radius: 1em;
  background-color: @rouge;
  color: white;
}
