body {
  &.notifications {
    background-color: @blanc-casse;

    #legende {
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: 0.1em solid @gris-tres-clair;
      text-align: center;
      font-size: 1.5em;

      @media @tablet {
        font-size: 3em;
      }

      button {
        background-color: transparent;
        border: 0;

        &.disableType {
          color: @gris;
          fill: @gris;
        }

        &:hover {
          opacity: 0.8;
        }
      }

      .bank {
        color: @vert;
        fill: @vert;

        .phys-AM {
          font-size: 1.2em;
          vertical-align: text-bottom;
        }
      }

      .event {
        color: @bleu;
      }

      .actus {
        color: @mauve;
      }
    }

    #notifications {
      .notification {
        border-bottom: 0.5em solid;
        border-left: 0;
        border-right: 0;
        background-color: white;

        .customizePerType(@primary-color, @secondary-color) {
          border-color: @primary-color;

          .entete {
            background-color: @primary-color;
          }

          .message {
            span.info {
              color: @primary-color;
            }
          }

          .date {
            color: @primary-color;
          }
        }

        &[data-type="bank"] {
          .customizePerType(@vert, @rose);
        }

        &[data-type="event"] {
          .customizePerType(@bleu, @orange);
        }

        &[data-type="actus"] {
          .customizePerType(@mauve, @rouge);
        }

        &.important {

        }

        .entete {
          color: white;
          text-transform: uppercase;
          font-weight: bold;
        }

        .message {
          span.info {
            font-weight: bold;
          }
        }

        .date {
          font-size: 0.9em;
          border-top: dashed 1px;
          border-bottom: 0;
          padding: 0.2em 1em;

          .heure {
            color: @gris;
          }
        }
      }
    }
  }
}


.navbar-toggle {
  .badge-notification {
    top:0;
    left: 2.5em;
  }
}

.badge-notification {
  position: absolute;
  top: 0.5em;
  left: 2.2em;
  font-size: 0.7em;
  border-radius: 1em;
  background-color: @rouge;
  color: white;
}
