body {
  &.notifications {
    background-color: @blanc-casse;

    #legende {
      font-weight: bold;
      border-bottom: 0.1em solid @gris-tres-clair;
      text-align: center;
      font-size: 1.5em;

      @media @tablet {
        font-size: 3em;
      }

      button {
        background-color: transparent;
        border: 0;
        text-transform: uppercase;
        .font-klavika();

        &.disableType {
          color: @gris;
          fill: @gris;
        }

        &:hover {
          opacity: 0.8;
        }

        &:focus {
          outline: none;
        }
      }

      .bank {
        color: @vert;
        fill: @vert;

        .phys-AM {
          font-size: 1.2em;
          vertical-align: text-bottom;
        }
      }

      .event {
        color: @bleu;
      }

      .actus {
        color: @mauve;
      }
    }

    #notifications {
      .notification {
        border-top: 0;
        border-bottom: 0.5em solid;
        border-left: 0;
        border-right: 0;
        background-color: white;

        .customizePerType(@primary-color, @secondary-color) {
          border-color: @primary-color;

          .entete {
            background-color: @primary-color;

            .importance {
              background-color: @secondary-color;

              &:before {
                border-left-color: @primary-color;
                border-top-color: @secondary-color;
                border-bottom-color: @secondary-color;
              }
            }
          }

          .message {
            span.info {
              color: @primary-color;
            }
          }

          .date {
            color: @primary-color;
          }
        }

        &.ancienne {
          .customizePerType(@gris, @gris-tres-clair);
          opacity: 0.7;
        }

        &.nouvelle {
          &[data-type="bank"] {
            .customizePerType(@vert, @rose);
          }

          &[data-type="event"] {
            .customizePerType(@bleu, @orange);
          }

          &[data-type="actus"] {
            .customizePerType(@mauve, @rouge);
          }
        }

        transition: all 0.2s ease-in-out;
        max-height: 20em;
        overflow: hidden;
        &.cacher {
          opacity: 0;
          max-height: 0;
          margin: 0;
          border: 0;
        }

        .entete {
          color: white;
          text-transform: uppercase;
          font-weight: bold;
          position: relative;
          border: 0;

          white-space: nowrap;

          .importance {
            cursor: default;

            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;

            font-size: 1.4em;
            text-align: center;
            width: 3.5em;

            &:before {
              content: "";
              position: absolute;
              left: 0;
              width: 0;
              height: 0;
              border-top: 1em solid;
              border-bottom: 0.95em solid;
              border-left: 1em solid;
            }

            span {
              vertical-align: bottom;
              padding-left: 0.5em;
            }
          }
        }

        .message {
          span.info {
            font-weight: bold;
          }

          font-size: 1.1em;
          padding: 1em 4em;
          text-align: center;
        }

        .date {
          font-size: 0.9em;
          border-top: dashed 1px;
          border-bottom: 0;
          padding: 0.2em 1em;

          .heure {
            color: @gris;
          }
        }
      }
    }
  }
}


.navbar-toggle {
  .badge-notification {
    top:0;
    left: 2.5em;
  }
}

.badge-notification {
  position: absolute;
  top: 0.5em;
  left: 2.2em;
  font-size: 0.7em;
  border-radius: 1em;
  background-color: @rouge;
  color: white;
}
