<div id="boissonDuMoment">
    <h2>Bière du moment</h2>

    {% if boisson is not null %}
        {% if boisson.image is not null %}
            <p><img src="{{ asset(boisson.image.webPath) }}" alt="{{ asset(boisson.image.alt) }}" class="image" /></p>
        {% endif %}
        <p>
            <span class="nom">{{ boisson.libelle }}</span><br>
            <span class="prix">{{ boisson.prix|prix }}</span>
        </p>

        <div class="usersHM">
            <span>{% include "PJMAppBundle:Boquette:itemHM_users.html.twig" with { 'usersHM': boisson.usersHM } %} HM</span>
            {% render(url('pjm_app_boquette_itemHM', {item: boisson.id})) %}
        </div>
    {% endif %}
</div>
