<div id="boissonDuMoment">
    <h2>Bière du moment</h2>

    {% if boisson is not null %}
        {% if boisson.image is not null %}
            <p><img src="{{ asset(boisson.image.webPath) }}" alt="{{ asset(boisson.image.alt) }}" class="image" /></p>
        {% endif %}
        <p>
            <span class="nom">{{ boisson.libelle }}</span><br>
            <span class="prix">{{ boisson.prix|prix }}</span>
        </p>
    {% endif %}
</div>
