<div id="historique">
    <h2>Historique</h2>

    {% if listeHistoriques|length != 0 %}
    <div class="table-responsive">
        <table class="table table-unstyle">
            <tbody>
                {% for historique in listeHistoriques %}
                <tr>
                    <td>{{ historique.date|date('d/m/y') }}</td>
                    <td>{{ historique.nom }}</td>
                    <td>
                        <span class="prix{% if historique.montant < 0 %} negats{% endif %}">{{ historique.montant }}</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        Tu n'as pas encore d'historique.
    {% endif %}

    <p class="text-center">
        <a href="{{ path('pjm_app_boquette_boquette_historique', {'slug': boquetteSlug}) }}">
            <span class="glyphicon glyphicon-plus"></span>
            <em class="text-gris">Historique détaillé</em></a>
    </p>
</div>
