{% extends "PJMAppBundle:Consos/Pians:layout.html.twig" %}

{% block categorieName %}Historique {{ parent() }}{% endblock %}

{% block pjm_app_body_content %}
    <p>
        <small><a href="{{ path('pjm_app_consos_pians_index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a></small>
    </p>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ datatable_render(datatable) }}
        </div>
    </div>
</div>
{% endblock %}
