{% extends "PJMAppBundle::layout.html.twig" %}

{% set section = "vie" %}
{% block pageName %}inbox{% endblock %}

{% block categorieName %}Messages{% endblock %}

{% block pjm_app_body_content %}
<p>
    <a class="btn btn-primary" href="{{ path('pjm_app_inbox_nouveau') }}"><span class="glyphicon glyphicon-send"></span> Envoyer un message</a>
    <a class="btn btn-default" href="{{ path('pjm_app_inbox_nouveau') }}"><span class="glyphicon glyphicon-bullhorn"></span> Faire une annonce</a>
</p>

<h2>Messages reçus</h2>
{% include 'PJMAppBundle:Inbox:messagesRecus.html.twig' with {'receptions': inbox.receptions } %}

<h2>Messages envoyés</h2>
{% include 'PJMAppBundle:Inbox:messagesEnvoyes.html.twig' with {'messages': inbox.sent } %}

{% endblock %}
