{% for message in messages %}
<div class="message">
    <div class="panel panel-default">
        <div class="panel-body">
            {{ message.contenu }}
        </div>
        <div class="panel-footer">
            {% spaceless %}
            le {{ message.date|date('d/m/Y') }} à {{ message.date|date('H:i') }}
            {%- if message.destinations|length > 0 -%}
                , pour
                {% if message.destinations|length != 1 %}
                    {% include "PJMAppBundle:Profil:show_users.html.twig" with { 'users': message.destinataires } %} personnes
                {% else %}
                    {% if message.destinations[0].user != app.user %}
                        {% render(url('pjm_profil_encart', {'username': message.destinations[0].user.username})) %}
                    {% else %}
                        phy's
                    {% endif %}
                {% endif %}
            {% endif %}
            {% endspaceless %}
        </div>
    </div>
</div>
{% endfor %}
