{% for reception in receptions %}
<div id="reception_{{ reception.id }}" class="message {% if not reception.lu %}surbrillance{% endif %}">
    <div class="panel panel-default">
        <div class="panel-body">
            {{ reception.message.contenu|nl2br }}
        </div>
        <div class="panel-footer">
            {% spaceless %}
            de {% render(url('pjm_profil_encart', {'username': reception.message.expediteur.username})) %},
            le {{ reception.message.date|date('d/m/Y') }} à {{ reception.message.date|date('H:i') }}
            {%- if reception.message.destinations|length > 0 -%}
                , pour
                {% if reception.message.destinations|length != 1 %}
                    {% include "PJMAppBundle:Profil:show_users.html.twig" with { 'users': reception.message.destinataires } %} personnes
                {% else %}
                    {% if reception.message.destinations[0].user != app.user %}
                        {% render(url('pjm_profil_encart', {'username': reception.message.destinations[0].user.username})) %}
                    {% else %}
                        phy's
                    {% endif %}
                {% endif %}
            {% endif %}
            {% endspaceless %}
        </div>
    </div>
</div>
{% endfor %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('.message.surbrillance').hover(function() {
        if ($(this).is('.surbrillance')) {
            chargement(true);
            $(this).removeClass('surbrillance');
            $(this).addClass('processing');

            var message = $(this);
            var id = message.attr('id').substr(10);

            $.post(Routing.generate('pjm_app_inbox_lu', {reception: id }))
            .fail(function() {
                message.addClass('surbrillance');
            })
            .always(function() {
                message.removeClass('processing');
                chargement(false);
            });
        }
    });
});
</script>
{% endblock %}
