{% for message in messages %}
<div class="message">
    <div class="panel panel-default">
        <div class="panel-body">
            {{ message.contenu }}
        </div>
        <div class="panel-footer">de {% render(url('pjm_profil_encart', {'username': message.user.username})) %}, le {{ message.date|date('d/m/Y') }} à {{ message.date|date('H:i') }}</div>
    </div>
</div>
{% endfor %}
