{% extends "PJMAppBundle:Inbox:layout.html.twig" %}

{% block categorieName %}Envoi d'un message{% endblock %}

{% block pjm_app_body_content %}
<p><a href="{{ path('pjm_app_inbox_index') }}" class="btn btn-default">Retour</a></p>
{{ form_javascript(form) }}
{{ form_stylesheet(form) }}
{{ form(form) }}
{% endblock %}
