{% extends "PJMAppBundle::layout.html.twig" %}

{% set section = "consos" %}
{% block pageName %}boquette brags{% endblock %}

{% block title %}
	Gestion Brag's | {{ parent() }}
{% endblock %}

{% block pjm_app_body_title %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><img id="logoBoquette" src="{{ asset('images/consos/brags/Brags-N.png') }}"> Gestion Brag's</h1>
            <small><a href="{{ path('pjm_app_consos_brags_index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a></small>
        </div>
    </div>
</div>
{% endblock %}

{% block pjm_app_body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% render(url('pjm_app_consos_brags_admin_listeVacances')) %}
                {% render(url('pjm_app_consos_brags_admin_listeBucquages')) %}
                {% render(url('pjm_app_consos_brags_admin_listeCredits')) %}
                {% render(url('pjm_app_consos_brags_admin_listeCommandes')) %}
                {% render(url('pjm_app_consos_brags_admin_listePrix')) %}
                {% render(url('pjm_app_consos_brags_admin_listeZiBrags')) %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
