{% extends "PJMAppBundle::layout.html.twig" %}

{% set section = "consos" %}
{% block pageName %}brags{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready( function () {
    $('#tabGestionCommandes, #tabGestionPrixBaguette, #tabGestionBucquages').DataTable({
        order: [1, "desc"]
    });
} );
</script>
{% endblock %}

{% block title %}
	Gestion Brag's | {{ parent() }}
{% endblock %}

{% block pjm_app_body_title %}
    <div class="row">
        <div class="col-md-12">
            <h1>Gestion Brag's</h1>
        </div>
    </div>
{% endblock %}

{% block pjm_app_body %}

<div class="row">
    <div class="col-md-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% render(url('pjm_app_consos_brags_admin_listeBucquages')) %}
            {% render(url('pjm_app_consos_brags_admin_listeCommandes')) %}
            {% render(url('pjm_app_consos_brags_admin_listePrix')) %}
        </div>
    </div>
</div>

{% endblock %}
