<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingBucquages" data-toggle="collapse" data-parent="#accordion" data-target="#collapseBucquages" aria-expanded="true" aria-controls="collapseBucquages">
        <h2 class="panel-title">
                Liste des bucquages
        </h2>
    </div>
    <div id="collapseBucquages" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBucquages">
        <div class="panel-body">
            <p>
                Les bucquages sont réalisés tous les jours de la semaine (sauf week-end) pour toutes les commandes étant "En cours" dans la liste des commandes ci-dessous.
            </p>
            {% if bucquages != null %}
            <div class="table-responsive">
                <table id="tabGestionBucquages" class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>PG</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bucquage in bucquages %}
                        <tr>
                            <td>{{ bucquage.id }}</td>
                            <td>{{ bucquage.date|date('d/m/y') }}</td>
                            <td>{{ bucquage.user.username }}</td>
                            <td>{{ (bucquage.nombre/10*bucquage.item.prix)|prix }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            Il n'y a pas de bucquages.
            {% endif %}
        </div>
    </div>
</div>
