{% extends "PJMAppBundle:Event:layout.html.twig" %}

{% block title %}Calendrier - {{ parent() }}{% endblock %}

{% block pjm_app_body_content %}
    <p><a href="{{ path('pjm_app_event_index') }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Liste</a></p>

    <div id="calendrier" class="calendrier-fullCalendar"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#calendrier').fullCalendar({
                lang: 'fr',
                loading: function(isLoading, view) {
                    chargement(isLoading);
                },
                eventSources: [
                    Routing.generate('pjm_app_api_event_calendar')
                ]
            }).fullCalendar('gotoDate', '{{ defaultDate }}');
        });
    </script>
{% endblock %}
