{% extends "PJMAppBundle:Event:layout.html.twig" %}

{% block title %}Calendrier - {{ parent() }}{% endblock %}

{% block pjm_app_body_content %}
    <div class="col-md-10 col-md-push-1">
        <p><a href="{{ path('pjm_app_event_index') }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Liste</a></p>
        <p>Passe ta souris au-dessus d'un évènement pour quelques informations et clique dessus pour accéder à tous les détails.</p>

        {% include "PJMAppBundle:Event:fullCalendar.html.twig" %}
    </div>
{% endblock %}
