{{ form_start(form) }}
    {{ form_errors(form) }}

{% if estPresent %}<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-remove"></span> Se désinscrire</button>{% else %}<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-calendar"></span> Participer</button>{% endif %}

{{ form_end(form) }}
