{% extends "PJMAppBundle:Event:layout.html.twig" %}

{% block title %}{% if event is not null %}{{ event.nom }} - {% endif %}{{ parent() }}{% endblock %}

{% block pjm_app_body_content %}
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#creation" aria-expanded="false" aria-controls="creation">
        <span class="glyphicon glyphicon-plus"></span> Créer
    </button>

    <a href="{{ path('pjm_app_event_calendar') }}" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span> Calendrier</a>
</p>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        {{ render(controller('PJMAppBundle:Event:nouveau', {standalone: true})) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-push-6">
        {% include "PJMAppBundle:Event:event.html.twig" %}
    </div>
    <div class="col-md-6 col-md-pull-6">
        {% include "PJMAppBundle:Event:timeline.html.twig" %}
    </div>
</div>

{% endblock %}
