{% extends "PJMAppBundle:Event:layout.html.twig" %}

{% block title %}Modification de {{ event.nom }} - {{ parent() }}{% endblock %}

{% block pjm_app_body_content %}

<div class="panel panel-primary">
    <div class="panel-body">{% include "PJMAppBundle:Event:form_event.html.twig" %}</div>
</div>

{% endblock %}
