{% if form is defined %}
    {{ form_start(form) }}
        {{ form_errors(form) }}

    <button onclick="return confirm ('Sûr de vouloir supprimer ?');" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>

    {{ form_end(form) }}
{% endif %}