<li id="navNotifications">
    <a href="{{ path('pjm_app_notifications_index') }}" title="Notifications">
        <span class="glyphicon glyphicon-bell"></span>
        <span id="notificationCounterWrapper">{% if nbNotReceived > 0 %}<span id="notificationCounter" class="badge badge-notification">{{ nbNotReceived }}</span>{% endif %}</span>
        <span class="visible-collapsed-inline">Notifications</span>
    </a>
</li>
