<li id="navNotifications">
    <a href="{{ path('pjm_app_notifications_index') }}" title="Notifications">
        <span class="glyphicon glyphicon-bell"></span>
        {% if nbNotReceived > 0 %}<span class="badge badge-notification">{{ nbNotReceived }}</span>{% endif %}
        <span class="visible-collapsed-inline">Notifications</span>
    </a>
</li>
