<div class="btn-group" role="group" aria-label="push">
    {% include "@PJMApp/Notifications/pushButton.html.twig" %}
    <a href="{{ path('pjm_app_notifications_reglages') }}" type="button" class="btn btn-default btn-md"><span class="glyphicon glyphicon-cog"></span></a>
</div>
