{% if is_granted('ROLE_BETA') %}<div class="btn-group" role="group" aria-label="push">
    <button type="button" class="js-push-button btn btn-default btn-md" disabled><span class="glyphicon glyphicon-bell"></span> S'abonner aux notifications</button>
    <a href="{{ path('pjm_app_push_index') }}" type="button" class="btn btn-default btn-md"><span class="glyphicon glyphicon-cog"></span></a>
</div>{% endif %}
