<div id="aVenir">
    <h1>A venir</h1>

    {% include "PJMAppBundle:Event:timeline.html.twig" %}

    <div id="plusDeDetails" class="row">
        <a href="{{ path('pjm_app_event_index') }}">
            <span class="glyphicon glyphicon-plus"></span> de détails
        </a>
    </div>
</div>
