<h1>A venir</h1>

<section id="timeline">
    <div class="timeline-block">
        <div class="timeline-img empty-circle"></div>
    </div>
    <div class="timeline-block">
        <div class="timeline-img"></div>

        <div class="timeline-content">
            <h2>Nuit des Fignos</h2>
            <span class="organisateur"><strong>CDF</strong></span>
            <span class="date">
                <span class="dateDate">24/01</span><br>
                22h00
            </span>
        </div>
    </div>
    <div class="timeline-block">
        <div class="timeline-img"></div>

        <div class="timeline-content">
            <h2>Nuit des Fignos</h2>
            <span class="organisateur"><strong>CDF</strong></span>
            <span class="date">
                <span class="dateDate">24/01</span><br>
                22h00
            </span>
        </div>
    </div>
    <div class="timeline-block">
        <div class="timeline-img empty-circle"></div>
    </div>
</section>
