<div id="bonjourGadzarts">
    <h1><strong>Bonjour Gadz'Arts</strong></h1>

    <div id="photoContainer">
        <div class="row">
            <div id="photo" class="col-md-8 col-md-offset-2">
                <img class="img-responsive" src="{% if photo is not null %}{{ asset(photo.image.webPath) }}{% else %}{{ asset('images/accueil/bg.png') }}{% endif %}" alt="Photo Bonjour Gadz'Arts">
            </div>
        </div>
        <div class="row">
            <div id="legende" class="col-md-8 col-md-offset-2">
                <p>{% if photo is not null %}{{ photo.legende }}{% else %}Pas encore de photo !{% endif %}</p>
            </div>
        </div>
    </div>
    <div id="hm" class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if photo is not null %}{% include "PJMAppBundle:App:physHM.html.twig" with { 'usersHM': photo.usersHM } %}{% endif %}
        </div>
    </div>
    <div id="enVoirPlus" class="row">
        <div class="col-md-8 col-md-offset-2">
            <a href="{{ path('pjm_app_media_bonjourGadzart') }}">En voir <span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>
</div>
