{% extends "PJMAppBundle::layout.html.twig" %}

{% block pageName %}accueil{% endblock %}

{% block categorieName %}Accueil{% endblock %}

{% block pjm_app_body_title %}{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function () {
    $('.progress .progress-bar').progressbar();
});
</script>
{% endblock %}

{% block pjm_app_body %}
<div class="container-fluid bg-blanc">
    {% if mazoutage %}{% include 'PJMAppBundle:Accueil:mazoutage.html.twig' %}{% endif %}
    <div class="row text-center bg-rouge">
        <div class="col-md-offset-4 col-md-4">
            <img id="brand" src="{{ asset('images/general/brand-text.svg') }}" onerror="this.src='{{ asset('images/general/brand-text.png') }}'" />
        </div>
    </div>
    <div class="space"></div>
    {% include 'PJMAppBundle:Accueil:annonces.html.twig' %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <p class="text-x-large">
                Sal's <span class="text-rouge">{{ app.user.bucque }}</span>
            </p>
            <div class="row">
                <div  class="col-md-6">
                    {% include 'PJMAppBundle:Accueil:connectedPeople.html.twig' %}
                    {% include 'PJMAppBundle:Accueil:actus.html.twig' %}
                </div>
                <div class="col-md-6">
                    {% include 'PJMAppBundle:Accueil:etatComptes.html.twig' %}
                    {% include 'PJMAppBundle:Accueil:anniversaires.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="row">
                <div class="col-md-6">
                    {% include 'PJMAppBundle:Accueil:aVenir.html.twig' %}
                </div>
                <div class="col-md-6">
                    {% include 'PJMAppBundle:Accueil:bonjourGadzarts.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
