<div id="mazoutage">
    <div class="contenu">
        <p>
            Tu es mazouté chez Pi de {{ solde.pians|prix }} !<br>
            Recharge ton compte :
        </p>
        {% render(url('pjm_app_boquette_rechargement', {'slug': 'pians'})) %}
        <p class="fermer">
            <a onclick="$('#mazoutage').fadeOut();"> <span class="glyphicon glyphicon-remove"></span> Fermer</a>
        </p>
    </div>
</div>
