{% extends "PJMAppBundle:Consos/Pians:index.html.twig" %}

{% block categorieName %}Gestion {{ parent() }}{% endblock %}

{% block pjm_app_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                <small><a href="{{ path('pjm_app_consos_pians_index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a></small>
            </p>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingManuel" data-toggle="collapse" data-target="#collapseManuel" aria-expanded="true" aria-controls="collapseManuel">
                    <h2 class="panel-title">
                            Manuel
                    </h2>
                </div>
                <div id="collapseManuel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingManuel">
                    <div class="panel-body">
                        <p>
                            Si un PG te donne un chèque ou de la monnaie pour les paniers de fruits et légumes, tu peux l'indiquer sur le panneau <strong>"Crédits"</strong>. S'il s'agit d'un chèque, renseigne son numéro (7 chiffres). Tu peux aussi y consulter la liste des crédits S-Money.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% render(url('pjm_app_admin_consos_gestionCredits', {slug: boquetteSlug})) %}
                {% render(url('pjm_app_admin_gestionResponsables', {slug: boquetteSlug})) %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
