{% extends "PJMAppBundle:Connexion:layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    {% if invalid_username is defined %}
    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
    {% endif %}

    <input type="text" id="username" name="username" placeholder="Identifiant" required="required">
    <button class="btn btn-primary" id="_submit" name="_submit" type="submit">Réinitialiser le mot de passe</button>
</form>

{% endblock fos_user_content %}
