{% extends layout %}

{% block categorieName %}{{ titre }} {{ parent() }}{% endblock %}

{% block pjm_app_body_content %}
    <p>
        <small><a href="{{ path(routeRetour) }}"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a></small>
    </p>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ datatable_render(datatable) }}
        </div>
    </div>
</div>
{% endblock %}
