{% extends "::layout.html.twig" %}

{% block pageName %}{% endblock %}
{% block categorieName %}{% endblock %}
{% block categorieLogo %}{% endblock %}
{% set categorieLogo = block('categorieLogo') %}

{% block title %}
	{{ block('categorieName') }} | {{ parent() }}
{% endblock %}

{% block content %}

{% block pjm_app_body_title %}
<div class="container-fluid" id="bandeauTitre">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% if categorieLogo != '' %}<img id="logoPage" src="{{ block('categorieLogo') }}"> {% endif %}{{ block('categorieName') }}</h1>
            </div>
        </div>
    </div>
</div>
{% if betatest is defined %}
<div class="container">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="alert alert-warning">Cette page est en beta-test.</div>
    </div>
</div>
{% endif %}
{% endblock %}

<div id="flashBag" class="container">
{% include 'PJMAppBundle:App:flashBag.html.twig' %}
</div>

{% block pjm_app_body %}
<div class="container{% if fluid is defined %}-fluid{% endif %}">
    <div class="row">
        <div class="col-md-12">
            {% block pjm_app_body_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% endblock %}
