{% extends "::layout.html.twig" %}

{% block pageName %}accueil{% endblock %}

{% block content %}

<div class="container-fluid" id="bandeauTitre">
    {% block pjm_app_body_title %}{% endblock %}
</div>

<div class="container">
    {% block pjm_app_body_flashbag %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endblock %}
</div>

{% block pjm_app_body %}{% endblock %}

{% endblock %}
