@import "components/vertical-timeline.less";
@import "components/emoticons.less";

// --- Modal ---
// fix hack modal qui fait un padding pour rien
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    padding-right: 17px;
}
body.modal-open {
    padding-right: 0 !important;
}

// --- DataTables ---
.dataTables_wrapper {
    overflow-x: hidden;

    .dataTables_info {
        white-space: normal;
    }
}

.dataTable {
    background-color: white;
    color: black;

    img, > img {
        max-height: 4em;
    }
}

// --- Panel ---
.panel {
    .panel-heading[data-toggle="collapse"] {
        cursor: pointer;
    }

    &.panel-default {
        a {
            color: @rouge;

            &.btn-default {
                color: #333;
            }

            &.show_users {
                color: @rouge;
            }
        }
    }
}

// --- WebUI-Popover ---
.webui-popover {
    color: black;

    a {
        color: @rouge !important;
    }
}

a.show_users {
    cursor: pointer;
    color: white;
    border-bottom: 1px dotted white;
}

// --- Select2 ---
.select2-container {
    color: #333;
    max-width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

// --- Froala Editor ---
.f-video-editor {
    position: relative;

    iframe {
        width: 320px;
        height: 160px;
        max-width: 100%;
        margin: 0 auto;

        @media @tablet {
            width: 640px;
            height: 320px;
        }
    }
}

.froala-view {
    > img, img {
        max-width: 100%;
    }
}
