{% extends "::layout.html.twig" %}

{% block title %}R&amp;z@l{% endblock %}
{% set offline = true %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    var disableNav = true;
</script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
body {
    background-color: #B63938;
    color: white;
    text-align: center;
}

.form-control {
    margin: 0 auto;
    width: auto;
}

h1, h2 {
    text-transform: none !important;
}

a {
    color: white;
}

a:hover {
    color: #ddd;
}
</style>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div id="content" class="col-sm-4 col-sm-offset-4">
            <h1>R&amp;z@l</h1>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}
