{% extends "::layout.html.twig" %}

{% block body %}

    {% for key, message in app.session.flashbag.all() %}
        <div class="alert alert-warning">
        {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}

{% endblock %}
