{% extends "PJMAppBundle::layout.html.twig" %}

{% block title %}
	&Agrave; propos | {{ parent() }}
{% endblock %}

{% block pjm_app_body %}

<div class="well">

   <p>Super PJM</p>

</div>

{% endblock %}
