{% extends "PJMAppBundle::layout.html.twig" %}

{% block pageName %}en-construction{% endblock %}

{% block title %}
	En construction | {{ parent() }}
{% endblock %}

{% block pjm_app_body %}

<h1 class="font-blackout_sunrise">Reviens plus tard !</h1>

{% endblock %}
