{% extends "PJMAppBundle::layout.html.twig" %}

{% block pageName %}en-construction{% endblock %}
{% block categorieName %}En construction{% endblock %}
{% block pjm_app_body_title %}{% endblock %}

{% block pjm_app_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive center-block" style="height: 10em;" src="{{ asset('images/en-construction/Casque.png') }}" alt="Casque">

            <div class="text-center text-uppercase">
                <h1 class="font-blackout_midnight"><span class="text-larger"><span class="text-larger">En construction</span></span></h1>
                <h2 class="font-blackout_two_am"><span class="text-larger">#DMD</span></h2>
            </div>
            <span class="space"></span>
            <p style="font-size: 2em;">
                Cette page sera bientôt disponible.<br>
                <a href="{{ path('pjm_app_homepage') }}">Mais en attendant, par ici <span class="glyphicon glyphicon-chevron-right"></span></a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
