{% extends "PJMAppBundle::layout.html.twig" %}

{% block pageName %}plan-du-site{% endblock %}
{% block categorieName %}Plan du site{% endblock %}

{% block pjm_app_body_content %}
<p>
    <img class="img-responsive center-block" src="{{ asset('images/plan-du-site/Plan.png') }}" alt="Plan">
</p>
{% endblock %}
