{% extends standalone ? "PJMAppBundle::minimum.html.twig" : "PJMAppBundle:Event:layout.html.twig" %}

{% block title %}Nouveau - {{ parent() }}{% endblock %}

{% block pjm_app_body_content %}
<div id="creation"{% if standalone %} class="collapse"{% endif %}>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Nouvel évènement
                {% if standalone %}
                    <button type="button" class="close" data-toggle="collapse" data-target="#creation" aria-label="Annuler" title="Annuler">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endif %}
            </h2>
        </div>
        <div class="panel-body">
            <p>Tu es l'un des organisateurs d'un évènement ? Invite tes chicop's à participer ! Ils recevront une notification.</p>
            <div class="ajax-form">
                {% include "PJMAppBundle:Event/Evenement:form_event.html.twig" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
