{% extends "PJMNewsBundle::layout.html.twig" %}

{% block title %}
	Ajouter un article - {{ parent() }}
{% endblock %}

{% block pjm_news_body %}

	<h2>Ajouter un article</h2>

	{% include "PJMNewsBundle:News:formulaire.html.twig" %}

	<p>
		Ajout !
	</p>

{% endblock %}
