@import "sections/Consos/brags.less";
@import "sections/Consos/pians.less";
@import "sections/Consos/cvis.less";
@import "sections/Consos/paniers.less";

body {
    &.boquette {
        #bandeauTitre {
            background-color: #c0c0c0;
            color: #505050;
            margin-bottom: 2*@font-size-base;
            padding-bottom: @line-height-computed/2;

            #logoBoquette {
                height: 3*@font-size-h1;
            }
        }
    }
}



