@import "brags.less";
@import "pians.less";
@import "cvis.less";
@import "paniers.less";

body {
    &.boquette {
        #sous-menu {
            .list-inline();
            .text-uppercase();
            .text-center();
            margin-bottom: 2em;

            li {
                cursor: pointer;
            }

            @sizeIcon: 3em;

            img {
                height: @sizeIcon;
            }

            span.glyphicon {
                font-size: @sizeIcon;
            }
        }
    }
}



