body {
    &.cvis {
        background-color: @rouge;
        color: white;

        #sous-menu {
            a {
                color: white;
            }
        }

        a {
            color: @orange;
        }

        @hauteurImage: 10em;

        #store {
            background: url('images/consos/cvis/rideau.png') top left repeat-x;
            background-size: contain;
            min-height: @hauteurImage;
            margin-bottom: 2em;
        }

        #porte {
            position: relative;
            @tailleMinWidth: 15em;
            @tailleWidth: 30vmin;
            @ratio: 1.62;
            min-width: @tailleMinWidth;
            min-height: @ratio*@tailleMinWidth;
            width: @tailleWidth;
            height: @ratio*@tailleWidth;

            border: 0.3em solid white;
            border-bottom: 0;
            margin: 0 auto;

            .pancarte {
                margin-top: 2em;
                .center-block();
                max-height: 8em;
            }

            .poignee {
                @taille: 1.8em;
                display: block;

                border: 0.25em solid @bleu-clair;
                border-radius: 50%;
                background-color: white;

                height: @taille;
                width: @taille;

                position: absolute;
                top: 50%;
                right: 10%;
                z-index: -1;
            }

            #responsables {
                position: absolute;
                top: 55%;
                .center-block;
                width: 100%;
                text-align: center;
            }
        }

        #produitMoment {
            text-align: center;

            h2 {
                border-top: 0.2em solid @bleu-clair;
                margin-top: 0.3em;
            }

            .nom {
                .text-larger();
                font-weight: bold;
            }

            .prix {
                .text-x-large();
            }

            .image {
                max-height: @hauteurImage;
                margin-right: 2em;
            }
        }

        #ziConsommateurs {
            img {
                max-height: @hauteurImage;
            }

            ul {
                .list-unstyled();
                .text-center();
                .text-larger();
            }
        }

        .row.separation {
            border-bottom: 0.4em solid white;
        }
    }
}
