body {
    &.cvis {
        background-color: @rouge;
        color: white;

        #content {
            #sous-menu {
                a {
                    color: white;
                }
            }


            a {
                color: @orange;
            }

            @hauteurImage: 10em;
            @hauteurBordure: 5px;

            #store {
                background: url('images/consos/cvis/rideau.png') top left repeat-x;
                background-size: contain;
                min-height: @hauteurImage;
                margin-bottom: 2em;
            }

            @media @desktop {
                #porteContainer {
                    position: absolute;
                    margin: 0 auto;
                    left: 0;
                    bottom: 0;
                }
            }

            #porte {
                position: relative;
                @tailleMinWidth: 15em;
                @tailleWidth: 30vmin;
                @ratio: 1.62;
                min-width: @tailleMinWidth;
                min-height: @ratio*@tailleMinWidth;
                width: @tailleWidth;
                height: @ratio*@tailleWidth;

                border: 0.3em solid white;
                border-bottom: 0;
                margin: 0 auto;

                .pancarte {
                    margin-top: 2em;
                    .center-block();
                    max-height: 8em;
                }

                .poignee {
                    @taille: 1.8em;
                    display: block;

                    border: 0.25em solid @bleu-clair;
                    border-radius: 50%;
                    background-color: white;

                    height: @taille;
                    width: @taille;

                    position: absolute;
                    top: 50%;
                    right: 10%;
                    z-index: -1;
                }

                #responsables {
                    position: absolute;
                    top: 55%;
                    .center-block;
                    width: 100%;
                    text-align: center;
                }
            }

            #produitMoment {
                text-align: center;

                h2 {
                    border-top: @hauteurBordure solid @bleu-clair;
                    margin-top: 0.3em;
                }

                .nom {
                    .text-larger();
                    font-weight: bold;
                }

                .prix {
                    .text-x-large();
                }

                .image {
                    max-height: @hauteurImage;
                    margin-right: 2em;
                }
            }

            #ziConsommateurs {
                img {
                    max-height: @hauteurImage;
                }

                ul {
                    .list-unstyled();
                    .text-center();
                    .text-larger();
                }
            }

            #catalogue {
                @hauteurListe: 20vmin;
                text-align: center;

                .glyphicon-chevron-left, .glyphicon-chevron-right {
                    font-size: @hauteurListe;
                    vertical-align: top;
                }

                ul {
                    .list-inline();
                    display: inline;

                    li.produit {
                        .image {
                            .img-responsive();
                            max-height: @hauteurListe;
                            margin: 0 auto;
                        }

                        .nom {
                            .text-larger();
                        }

                        &.hidden {
                            display: none;
                        }
                    }
                }

                .separation {
                    height: @hauteurBordure;
                    background-color: @bleu-clair;
                    margin-top: 1em;
                    margin-bottom: 0.5em;
                }

                .lien-plus {
                    .text-larger();
                    text-align: right;
                    padding-right: 25%;

                    a {
                        color: white;
                    }

                    .glyphicon-plus {
                        color: @bleu-clair;
                    }
                }
            }

            .row.separation {
                position: relative;

                border-bottom: 0.4em solid white;
                margin-bottom: 1.5em;
            }

            #solde {
                width: 80%;
                text-align: center;
                .center-block();

                @decalage: 1.5em;

                h2 {
                    .font-courier();
                    color: black;
                    font-size: large;

                    position: absolute;
                    left: 0;
                    right: @decalage;
                    margin: 1.5em auto;
                }

                img {
                    .img-responsive();
                    .center-block();
                }

                .montant {
                    color: black;
                    font-size: x-large;

                    position: absolute;
                    left: 0;
                    right: @decalage;
                    margin: 0 auto;
                    bottom: 72%;
                }
            }

            #rechargement {
                #buttonRechargementImage {
                    .center-block();

                    > img, img {
                        .center-block();
                        .img-responsive();
                        max-width: 60%;
                    }
                }
            }

            #historique {
                .font-courier();
                .center-block();
                width: 90%;
                padding-top: 0.1em;
                background-color: white;
                color: @gris;

                h2 {
                    text-align: center;
                }

                .table-responsive {
                    width:90%;
                    .center-block();
                }

                .merci {
                    text-align: center;
                    overflow: hidden;
                    width: 90%;
                    margin: 0 auto;
                }

                @tailleZigZag: 1em;
                &:after, &:before {
                    content: " ";
                    display: block;
                    position: relative;
                    width: 100%;
                    height: @tailleZigZag;
                }

                &:before {
                    background: linear-gradient(-135deg, transparent 75%, white 75%) 0 50%,
                                linear-gradient( 135deg, transparent 75%, white 75%) 0 50%;
                    background-repeat: repeat-x;
                    background-size: @tailleZigZag @tailleZigZag, @tailleZigZag @tailleZigZag;
                    top: -@tailleZigZag;
                }

                &:after {
                    background: linear-gradient(-45deg, transparent 75%, white 75%) 0 50%,
                                linear-gradient( 45deg, transparent 75%, white 75%) 0 50%;
                    background-repeat: repeat-x;
                    background-size: @tailleZigZag @tailleZigZag, @tailleZigZag @tailleZigZag;
                    bottom: -@tailleZigZag;
                }
            }
        }
    }
}
