body {
    &.paniers {
        background-color: @vert;
        color: white;

        #sous-menu {
            a {
                color: white;
            }

            img {
                height: 3em;
            }
        }

        #commande {
            margin-bottom: 1.5em;
        }

        @taillePrixPanier: 4em;
        #prix {
            #prixPanierContainer {
                .center-block();
                margin-bottom: 1.5em;

                width: @taillePrixPanier*(@taillePrixPanier - 1);
                height: @taillePrixPanier*(@taillePrixPanier - 1);

                border-radius: 50% 50%;
                background-color: lighten(@vert, 10%);

                > div {
                    font-size: @taillePrixPanier;

                    padding-top: 25%;
                }
            }
        }

        #com3pom {
            margin-bottom: 1.5em;

            > img {
                .img-responsive();
                .center-block();

                height: @taillePrixPanier*(@taillePrixPanier - 1);
            }
        }

        #solde {
            margin-bottom: 1.5em;

            #soldeContainer {
                position: relative;
                @hauteurSolde: 9em;

                > img {
                    .img-responsive();
                    .center-block();
                    height: @hauteurSolde;
                }

                > span {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    font-size: @hauteurSolde/3;
                    line-height: @hauteurSolde/3;
                    vertical-align: middle;
                }
            }
        }
    }
}
