<div id="catalogue" class="row">
    {% if listeProduits|length > 0 %}
    <div id="catalogueContainer" class="row">

        {% for produit in listeProduits %}
        {% include "PJMAppBundle:Consos:Cvis/produit.html.twig" %}
        {% endfor %}

    </div>
    <div id="catalogueFleches" class="row">
        <span class="glyphicon glyphicon-menu-left"></span>
        <span class="glyphicon glyphicon-menu-right"></span>
    </div>
    {% endif %}

    <div class="separation"></div>
    <p class="lien-plus"><a href="{{ path('pjm_app_boquette_listeItem', {'slug': boquetteSlug}) }}"><span class="glyphicon glyphicon-plus"></span> Catalogue complet</a></p>
</div>
