<div id="catalogue" class="row">
    {% if listeProduits|length > 0 %}
    <span class="glyphicon glyphicon-menu-left"></span>
    <ul>
    {% for produit in listeProduits %}
    {% include "PJMAppBundle:Consos:Cvis/produit.html.twig" %}
    {% endfor %}
    </ul>
    <span class="glyphicon glyphicon-menu-right"></span>
    {% endif %}

    <div class="separation"></div>
    <p class="lien-plus"><a href="{{ path('pjm_app_boquette_listeItem', {'slug': boquetteSlug}) }}"><span class="glyphicon glyphicon-plus"></span> Catalogue complet</a></p>
</div>
