<div id="catalogue" class="row">
    {% if listeProduits|length > 0 %}
    <div id="catalogueContainer" class="row">
        {% include "PJMAppBundle:Consos:Cvis/produits.html.twig" %}
    </div>
    <div id="catalogueFleches" class="row">
        <span class="glyphicon glyphicon-menu-left fleche fleche-gauche"></span>
        <span class="glyphicon glyphicon-menu-right fleche fleche-droite disabled"></span>
    </div>
    {% endif %}

    <div class="separation"></div>
    <p class="lien-plus"><a href="{{ path('pjm_app_boquette_listeItem', {'slug': boquetteSlug}) }}"><span class="glyphicon glyphicon-plus"></span> Catalogue complet</a></p>
</div>

<script type="text/javascript">
$(document).ready(function () {
    var catalogueActif = false;
    var catalogueCharge = false;

    $('.fleche').click(function() {
        if (catalogueActif) {
            return;
        }
        catalogueActif = true;

        var gauche = $(this).is('.fleche-gauche')

        if (!catalogueCharge) {
             // on charge les prochains produits
            $('#catalogueFleches').append('<span class="icon-chargement fleche-' + (gauche ? 'gauche' : 'droite') + '" style="display: none;"></span>');

            $(this).fadeOut(function() {
                $('#catalogueFleches .icon-chargement').fadeIn(function() {
                    var req = $.ajax({
                        type: "GET",
                        url: Routing.generate('pjm_app_boquette_getItems', { boquette_slug: 'cvis', offset: 5 }),
                        cache: false
                    });

                    req.done(function (data) {
                        $('#catalogueContainer').append(data);
                        $('#catalogue .icon-chargement').fadeOut(function () {
                            $('#catalogueFleches .fleche.fleche-' + (gauche ? 'gauche' : 'droite')).fadeIn(function () {
                                catalogueCharge = true;
                                majCatalogue(gauche);
                            });
                        });
                    });
                });
            });
        } else {
            majCatalogue(gauche);
        }
    });

    function majCatalogue(gauche) {
        var firstProduit = $('.produit:visible:first');
        var lastProduit = $('.produit:visible:last');
        var produitToHide, nextProduit;

        if (gauche) {
            produitToHide = firstProduit;
            nextProduit = $(lastProduit).next('.produit');
        } else {
            produitToHide = lastProduit;
            nextProduit = $(firstProduit).prev('.produit');
        }

        if (nextProduit.length == 1) {
            produitToHide.hide(function() {
                nextProduit.show(function () {
                    catalogueActif = false;

                    if (gauche) {
                        if($('.produit:visible:last').next('.produit').length == 0) {
                            $('.fleche-gauche').addClass('disabled');
                        }

                        if ($('.fleche-droite').is('.disabled')) {
                            $('.fleche-droite').removeClass('disabled');
                        }
                    } else {
                        if($('.produit:visible:first').prev('.produit').length == 0) {
                            $('.fleche-droite').addClass('disabled');
                        }

                        if ($('.fleche-gauche').is('.disabled')) {
                            $('.fleche-gauche').removeClass('disabled');
                        }
                    }
                });
            });
        } else {
            catalogueActif = false;
        }
    }
});
</script>
