{# FUTURE D'runssage #}
<div id="porte">
    <img class="pancarte" src="{{ asset('images/consos/cvis/Open.png') }}" alt="Open" />

    <div class="poignee"></div>

    {{ render(url('pjm_app_boquette_voirResponsables', {'slug': boquetteSlug})) }}
</div>
