<div id="rechargement" class="row">
    <h2 class="sr-only">Rechargement</h2>
    <button id="buttonRechargementImage" type="button" class="text-larger debuttonize" title="Recharger" data-toggle="modal" data-target="#modalRechargement">
        <img src="{{ asset('images/consos/cvis/Carte-bleue.png') }}" alt="Recharger" title="Recharger">
    </button>
</div>
