<div id="stats">
    <h2>En {{ "now"|localizeddate('short') }}</h2>
    <p><span class="nombre">{{ stats.achats }}</span><br>achats au C'vis</p>
    <p><span class="nombre">{{ stats.saucisson }}</span><br>saucissons dégustés</p>
    <p><span class="nombre">{{ stats.burgers }}</span><br>burgers savourés</p>
</div>
