<div id="transfert">
    <h2>Historiques</h2>

    {% include "PJMAppBundle:App:panel.html.twig" with {
        'panel_title': 'Transactions',
        'name': 'Transactions',
        'datatable': datatable_transactions
    } %}

    {% include "PJMAppBundle:App:panel.html.twig" with {
        'panel_title': 'Achats',
        'name': 'Achats',
        'datatable': datatable_achats
    } %}

    {% include "PJMAppBundle:App:panel.html.twig" with {
        'panel_title': 'Transferts',
        'name': 'Transferts',
        'datatable': datatable_transferts
    } %}
</div>
