<div id="transfert">
    <h2>Historiques</h2>
    <p>Tu peux aussi voir tout l'historique d'une boquette en particulier en cliquant sur "Historique" dans chaque page de Consos (Pian's etc).</p>

    {% include "PJMAppBundle:App:panel.html.twig" with {
        'panel_title': 'Achats',
        'name': 'Achats',
        'datatable': datatable_achats,
        'expanded': true
    } %}

    {% include "PJMAppBundle:App:panel.html.twig" with {
        'panel_title': 'Transactions',
        'name': 'Transactions',
        'datatable': datatable_transactions
    } %}

    {# TODO fix bug pour l'instant
    {% include "PJMAppBundle:App:panel.html.twig" with {
        'panel_title': 'Transferts',
        'name': 'Transferts',
        'datatable': datatable_transferts
    } %}
    #}
</div>
