<div id="transfert">
    <h2>Transfert</h2>
    <p>Tu peux transférer de l'argent sur le compte d'un chicop's, par exemple pour le rembourser. Seuls les transferts entre comptes de même nature (ex. Brag's à Brag's) sont possibles car ils ne nécessitent pas de mouvements bancaires.</p>
    <div class="ajax-form">
        {{ form_stylesheet(form) }}
        {{ form_javascript(form) }}
        {{ form(form) }}
    </div>
</div>
